.DS_Store

.env

*.pyc

venv

config

migrations

Bethany_Food_Bank.egg-info


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

client_secret.json

rundev.sh
