{% extends 'layout.html' %}

{% block body %}
  <h1>Records</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Author</th>
      <th>Volunteers</th>
      <th>Customers</th>
    </tr>
    {% for record in records %}
      <tr><a href="record/{{record.id}}">
        <td>{{ record.date.strftime('%m/%d/%Y') }}</td>
        <td>{{ record.author }}</td>
        <td>{{ record.volunteers }}</td>
        <td>{{ record.customers }}</td>
      </a></tr>
    {% endfor %}

  </table>

{% endblock %}
